{{#if isIndex}}
<a href="/" style="color: violet;">Main page</a>
{{else}}
<a href="/" style="color: black;">Main page</a>
{{/if}}
{{#if isCreate}}
<a href="/create" style="color: violet;">Create page</a>
{{else}}
<a href="/create" style="color: black;">Create page</a>
{{/if}}