<h1>Create page</h1>

<form action="/create" method="post">
    <div style="margin-bottom: 20px;">
        <h4>Title</h4>
        <input type="text" name="title">
    </div>
    <button type="submit">Save</button>
</form>